<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">
                {{getSettingDescription()}}
            </h3>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-cogs"></i> <a href="Javascript:void(0)" routerLink="/index">Settings</a>
                </li>
                <li>
                    <i class="fa"></i>
                    <a href="Javascript:void(0)" routerLink="/settings/{{currentSetting?.application}}">
                        {{currentSetting!=null?currentSetting.application:''}}
                    </a>
                </li>
                <li>
                    <i class="fa"></i>
                    <a href="Javascript:void(0)" routerLink="/settings/{{currentSetting?.application}}/{{urrentSetting?.environment}}">
                        {{currentSetting?.environment}}
                    </a>
                </li>
                <li class="active">
                    <i class="fa"></i> {{getSettingDescription()}}
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h5 class="text-primary">
                    Setting Documentation
                </h5>
                <div [innerHtml]="currentSetting?.documentation">
                </div>
            </div>
        </div>
        <!--
        <div class="row">
            <div class="col-lg-12">
                <h5 class="text-primary">
                    Old setting Value
                </h5>
                <pre #jsonValue class="prettyprint lang-js linenums">
                </pre>
            </div>
        </div>-->
        <form role="form">
            <fieldset class="form-group">
                <h5 class="text-primary">
                    New setting Value
                </h5>
                <textarea #jsonValueEdit name="settingvalue" ngDefaultControl class="form-control" rows="20" [(ngModel)]="newSettingValue"></textarea>
            </fieldset>
        </form>
        <button type="submit" class="btn btn-primary" (click)="updateSetting()">Update Setting</button>
        <br>
    </div>
</div>